// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#flash-message
{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 10;
}
